TabView {
    tab-Background-Color: white;
    selected-tab-text-color: #EA2330;
    android-selected-tab-highlight-color: #EA2330;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
}
